{% extends 'layout/default.html.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">VMS Lunenburg</h1>
            <p>Hieronder bevinden zich de functies die medewerkers binnen Lunenburg uitvoeren. Door op uw functie te klikken kan u inloggen om uw informatie op te halen, wijzigen of verwijderen.</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Inkoper</h2>
                <p><a class="btn btn-secondary" href="{{ url('inkoper') }}" role="button">Login als Inkoper &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Magazijnmeester</h2>
                <p><a class="btn btn-secondary" href="{{ url('magazijnmeester') }}" role="button">Login als Magazijnmeester &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Verkoper</h2>
                <p><a class="btn btn-secondary" href="{{ url('verkoper') }}" role="button">Login als Verkoper &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>
{% endblock %}