{% extends 'layout/default.html.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3"><center>VMS Lunenburg</center></h1>
            
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <center><a class="btn btn-secondary" href="{{ url('login') }}" role="button">Inloggen &raquo;</a></center>
            </div>
        </div>


    </div>
{% endblock %}