{% extends 'layout/default.html.twig' %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Inkoper</h2>
                <p><a class="btn btn-secondary" href="{{ url('inkoper') }}" role="button">Login als Inkoper &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Magazijnmeester</h2>
                <p><a class="btn btn-secondary" href="{{ url('magazijnmeester') }}" role="button">Login als Magazijnmeester &raquo;</a></p>
            </div>
        </div>

        <hr>

    </div>
{% endblock %}