{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ url('homepage') }}"><img src="https://image.ibb.co/dVx8t8/logo_lunenburg2.png" alt="Lunenburg" width="100" height="25" /></a>
        {% if is_granted(expression('"ROLE_INKOPER" in roles')) %}
                <a class="navbar-brand" style="color:gray">Inkoper</a>
                
        {% elseif is_granted(expression('"ROLE_MAGAZIJNMEESTER" in roles')) %}
                <a class="navbar-brand" style="color:gray">Magazijnmeester</a>

        

        {% elseif is_granted(expression('"ROLE_VERKOPER" in roles')) %}
                <a class="navbar-brand" style="color:gray">Verkoper</a>

        {% elseif is_granted(expression('"ROLE_ADMIN" in roles')) %}
                <a class="navbar-brand" style="color:gray">Admin</a>
                <a class="navbar-item" style="color:white" href="{{ url('user_registration') }}">Registratie</a>


        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% include 'layout/navbar.html.twig' %}
    </nav>

    <main role="main">
        {% block content %}

        {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% endblock %}
    </main>


{% endblock %}