<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url('security_logout') }}">Uitloggen</a>
            </li>
        {% endif %}
        {#{% if is_granted(expression('"ROLE_INKOPER" in roles')) %}#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ url('inkoper') }}">Inkoper</a>#}
            {#</li>#}
        {#{% endif %}#}
        {#{% if is_granted(expression('"ROLE_MAGAZIJNMEESTER" in roles')) %}#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="{{ url('magazijnmeester') }}">Magazijnmeester</a>#}
            {#</li>#}
        {#{% endif %}#}
    </ul>
</div>